* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: #fff;
  list-style: none;
}

input {
  outline: none;
  padding: 5px 10px;
  color: #181824;
}
body {
  background-color: #151531;
}
button {
  color: #fff;
  background-color: #008000;
  padding: 10px 15px;
  border-radius: 10px;
}

h1 {
  padding: 20px;
}

.container {
  padding: 10%;
}

input {
  margin: 10px;
  border-radius: 10px;
  padding: 10px;
}
img {
  width: 30%;
  position: absolute;
  right: 10px;
  top: 10px;
}
.FilterSort {
  margin: 10px;
  gap: 10px;
  display: flex;
}
h1 {
  font-size: 50px;
  margin-bottom: 30px;
}
select {
  background-color: #25273c;
  padding: 7px;
  margin: 15px;
  border-radius: 10px;
}
.sub {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-left: 15px;
}
.content {
  display: flex;
  gap: 7px;
  align-items: center;
  margin: 20px 15px;
}

.content .support {
  background-color: rgb(68, 61, 125);
  padding: 10px 30px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 30px;
}
.subChange {
  display: flex;
  gap: 5px;
}

@media (max-width: 1065px) {
  .container {
    flex-wrap: wrap;
  }
  .container .sub {
    flex-wrap: wrap;
  }
}

@media (max-width: 600px) {
  .container {
    display: grid;
    text-align: center;
  }
  .container .sub {
    display: grid;

    text-align: center;
  }

  .container .subChange {
    display: grid;
  }
}
